* {
  margin: 0;
  padding: 0;
}

/*-------------------------Loader----------------*/
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3498db;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loader {
  border: 8px solid var(--amarillo);
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.loader-text {
  margin-top: 20px;
  color: white;
  font-size: 20px;
  font-family: Lato;
  font-weight: 500;
  line-height: 18.9px;
  word-wrap: break-word;
  margin-bottom: 50px;
}

.content {
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*------------------------------------------*/
:root {
  --azul: #5499f8;
  --azulSombra1: #2982ff;
  --azulSombra2: #02187e;
  --azulSombra3: #5499f800;
  --amarillo: #ffe901;
}
h1 {
  color: white;
  font-size: 60px;
  font-family: Lato;
  font-weight: 600;
  line-height: 56.7px;
  word-wrap: break-word;
}

h2 {
  color: black;
  font-size: 60px;
  font-family: Lato;
  font-weight: 600;
  line-height: 56.7px;
  word-wrap: break-word;
}
h3 {
  color: black;
  font-size: 40px;
  font-family: Lato;
  font-weight: 400;
  line-height: 37.8px;
  word-wrap: break-word;
}

p {
  color: black;
  font-size: 20px;
  font-family: Lato;
  font-weight: 400;
  line-height: 18.9px;
  word-wrap: break-word;
}

body {
  width: 1280px;
  background-color: black;
}

.container {
  width: 1080px;
  margin-left: 100px;
  margin-right: 100px;
}

header {
  background-color: var(--azulSombra1);
}
.stick {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.azul {
  width: 1280px;
  height: 227px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: linear-gradient(
    180deg,
    #5499f8 0%,
    #5499f8 88%,
    rgba(84, 153, 248, 0) 100%
  );
  z-index: -20;
}
nav {
  height: 103px;
  background-color: var(--azulSombra1);
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 20px;
}
.logoHamburguesa {
  width: 34px;
  height: 26px;
  margin-top: 20px;
  cursor: pointer;
}
.menuSpidey {
  width: 113px;
  height: 68px;
  cursor: pointer;
  margin-left: 130px;
}
.btn-comprar {
  width: max-content;
  padding-left: 41px;
  padding-right: 41px;
  height: 50px;
  border: 8px solid var(--azulSombra1);
  background-color: var(--amarillo);
  border-radius: 111px;
  color: var(--azulSombra2);
  font-family: Arial; /*Cambiar a Lato*/
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 4px 5px 0px var(--azulSombra2);
  cursor: pointer;
}

/*----------------------Portada--------------------*/

.portada {
  width: 1280px;
  height: 720px;
  background-image: url(img/cielo.svg);
  z-index: 1;
}
.spidey {
  width: 590px;
  height: 301px;
  left: 330px;
  top: 91px;
  position: absolute;
  z-index: 100000 !important; /*no me lo toma*/
}
.edificioIzq {
  width: 452px;
  height: 720px;
  left: -47px;
  top: 144px;
  position: absolute;
}
.edificio {
  width: 543.5px;
  height: 213.5px;
  left: 392px;
  top: 634px;
  position: absolute;
}

.edificioDer {
  width: 374px;
  height: 727.5px;
  left: 906px;
  top: 126px;
  position: absolute;
}
.chica {
  width: 360px;
  height: 444px;
  left: 90px;
  top: 388px;
  position: absolute;
}

.spideyNegro {
  width: 393px;
  height: 393px;
  left: 695px;
  top: 335px;
  position: absolute;
}
.spideyCentral {
  width: 465px;
  height: 465px;
  left: 404px;
  top: 403px;
  position: absolute;
}

.cielo {
  width: 1280px;
  height: 720px;
  left: 0px;
  top: 7570px;
  position: absolute;
}

.cuerdaDerecha {
  width: 400px;
  height: 372.44px;
  left: 1000px;
  top: 400px;
  position: absolute;
  transform: rotate(0%);
  transform-origin: 0 0;
}

.cuerdaIzquierda {
  width: 700px;
  height: 627.27px;
  left: 0px;
  top: 350px;
  position: absolute;
  transform: rotate(10deg);
  transform-origin: 0 0;
  z-index: 4;
}

/*-------------------Violeta-------------*/
.violeta {
  width: 1280px;
  height: 844.5px;
  background-image: url(img/violeta.svg);
  top: 788px;
  position: absolute;
  z-index: 2;
}

.violetaTitulo {
  width: 646px;
  left: 95px;
  top: 219.5px; /*hice la cuenta*/
  position: absolute;
}

.violetaTexto {
  width: 586px;
  height: 154px;
  left: 95px;
  top: 357.5px; /*hice la cuenta*/
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: Lato;
  font-weight: 400;
  word-wrap: break-word;
}
.violetaEscena {
  width: 751.65px;
  height: 413.13px;
  left: 90.28px;
  top: 523px;
  position: absolute;
  transform: rotate(-2.22deg);
  transform-origin: 0 0;
  box-shadow: 3px 6px 8px 4px rgba(0, 0, 0, 0.15);
  border-radius: 26px;
  border: 9px white solid;
}
.duende {
  width: 553px;
  height: 921px;
  left: 712px;
  top: -50px;
  position: absolute;
  z-index: 10;
}

/*------------------Blanca-------------------------*/
.blanco {
  width: 1280px;
  height: 1085px;
  background-color: white;
  top: 1500px;
  position: absolute;
}
.containerCardsChicas {
  display: flex;
  padding-top: 368px;
}

.cardChica {
  width: 332px;
  height: 302px;
  margin-bottom: 23.31px;
}
.containerCardsChicas {
  display: flex;
  justify-content: space-around;
}

.card1,
.card2,
.card3 {
  width: 30%;
}

/*----------------Ghost---------------*/
.ghost {
  background-image: url(img/ghost.svg);
}
.ghost {
  width: 1280px;
  height: 566px;
  left: 0px;
  top: 2500px;
  position: absolute;
}
.test1 {
  width: 800px;
  height: 500px;
  left: -50px;
  top: -150px;
  position: absolute;
  transform: rotate(5deg);
}
.test2 {
  width: 800px;
  height: 500px;
  left:-40px;
  top:20px;
  position: absolute;
}

.test3 {
  width: 800px;
  height: 500px;
  top: 180px;
  left:-40px;
  position: absolute;
}

/*---------------Negro----------------*/
.tituloCard3D {
  width: 667px;
  left: 104px;
  top: 3226px;
  position: absolute;
}
.transformer {
  width: 368.31px;
  height: 552.46px;
  left: 682.05px;
  top: 3197px;
  position: absolute;
}

.pastoCard3D,
.card3D {
  width: 1077.06px;
  height: 527.63px;
  left: 101.76px;
  top: 3452.11px;
  position: absolute;
}
.cieloCard3D {
  width: 1077.06px;
  height: 527.63px;
  left: 120px;
  top: 3431px;
  position: absolute;
  z-index: -4;
}
.hulk {
  width: 410.11px;
  height: 437.97px;
  left: 829.28px;
  top: 3558px;
  position: absolute;
  transform: rotate(7.52deg);
  transform-origin: 0 0;
}

.elastica {
  width: 451.26px;
  height: 591.44px;
  left: 128.16px;
  top: 3454.54px;
  position: absolute;
  transform: rotate(-12.48deg);
  transform-origin: 0 0;
}

.blanco2 {
  width: 1280px;
  height: 2194.5px;
  left: 0px;
  top: 3855px;
  position: absolute;
  background-image: url(img/blanco2.svg);
  z-index: -2;
}

.tituloCardM {
  margin-top: 254.5px;
  margin-bottom: 69px;
  margin-left: 100px;
}
.cardM1 img {
  width: 552px;
  height: 302.76px;
  margin-bottom: 100.24px;
}
.cardM2 img {
  width: 548px;
  height: 305px;
  margin-bottom: 121px;
}
.cardM3 img {
  width: 556px;
  height: 301.5px;
  margin-bottom: 211.49px;
}
.cardM1 img {
  width: 552px;
  height: 308.2px;
}

p.CardM {
  margin-left: 57px;
}

.contenedor h3 {
  margin-bottom: 25px;
}
/*------------------Fondo Negro-----------------*/
.fondoNegro {
  margin-top: 5300px;
}
.container .fondoNegro h3 {
  margin-top: 100px;
  margin-right: 360px;
}

.fondoNegro button.btn-comprar {
  margin-top: 36px;
}

/*-----------------Fondo Blanco-----------------*/
.fondoBlanco {
  background-image: url(img/fondoBlanco.svg);
  padding-top: 171px;
  padding-bottom: 82px;
}

.chica2 {
  width: 268px;
  height: 416.5px;
}

.spidey2 {
  width: 416.5px;
  height: 457.5px;
}

.spideyNegro2 {
  width: 313.5px;
  height: 398.5px;
}

/*-----------------------Fondo Escena-------------*/
.fondoEscena {
  width: 1280px;
  height: 1296px;
  background-image: url(img/fondoEscena.png);
}
.buscadorBorde {
  margin-left: 250px;
  width: 780px;
  height: 100px;
}

.buscadorBorde {
  background: white;
  box-shadow: 4px 5px 0px #02187e;
  border-radius: 50px;
  border: 9px #2982ff solid;
  display: flex;
}

.buscadorTexto {
  color: rgba(0, 0, 0, 0.39);
  font-size: 20px;
  font-family: Lato;
  font-weight: 400;
  line-height: 18.9px;
  letter-spacing: 2.2px;
  word-wrap: break-word;
  margin-left: 52px;
  margin-top: 41px;
  text-align: center;
  align-items: center;
  width: max-content;
  align-items: center;
  margin-right: 271px;
}

.buscadorSuscribirse {
  border-radius: 0px 40px 40px 0px;
  background: #ffe901;
  border-left: 9px #2982ff solid;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 30px;
}

.buscadorInsert {
  left: 595px;
  top: 41px;
  color: #02187e;
  font-size: 20px;
  font-family: Lato;
  font-weight: 900;
  line-height: 18.9px;
  letter-spacing: 2.2px;
  word-wrap: break-word;
}

.fondoEscena h2 {
  margin-left: 232px;
  margin-right: 232px;
  padding-top: 152px;
  margin-bottom: 46px;
  text-align: center;
}

.fondoEscena p {
  text-align: left;
  margin-top: 39px;
}

.fondoEscena span {
  text-decoration: underline;
}

.fondoEscena img.teen {
  width: 231px;
  height: 145px;
  margin-top: 44px;
}
.textoTeen {
  margin-left: 302px;
}

.escenaFinal {
  width: 1280px;
  height: 720px;
}
.spideyMini {
  width: 94px;
  height: 88px;
  left: 998px;
  top: 8023px;
  position: absolute;
  mix-blend-mode: darken;
}

.spideyNegroMini {
  width: 97px;
  height: 89px;
  left: 219px;
  top: 8190px;
  position: absolute;
}

.chicaMini {
  width: 58px;
  height: 64px;
  left: 533px;
  top: 8126px;
  position: absolute;
}
/*--------------Footer--------------*/
footer {
  width: 1280px;
  padding-top: 38px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #5e5e5d;
  text-align: left;
}

footer p {
  margin-right: 360px;
  color: white;
  font-size: 20px;
  font-family: Lato;
  font-weight: 400;
  line-height: 18.9px;
  letter-spacing: 2.2px;
  word-wrap: break-word;
  width: 820px;
  height: 361px;
}

footer img{
  margin-top: 38px;
  margin-bottom: 120px;
}


  /*---------Animacion Scroll section contenedor---------*/
  section.contenedor{
    width: 1080px;
    min-height: 400px;
    margin-left: 100px;
    margin-right: 100px;
    overflow: hidden;
    background-position: 0 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  section#cont1, section#cont2, section#cont3, section#cont4{
    margin-top: 40px;
  }
  section#cont1{
    background-image: url(img/cardM1.svg);
  }
  section#cont2{
    background-image: url(img/cardM2.svg);
  }
  section#cont3{
    background-image: url(img/cardM3.svg);
  }
  section#cont4{
    background-image: url(img/cardM4.svg);
  }
  section.texto{
    float:right;
    width: 50%;
    min-height: 400px;
  }

/*------------------Duende---------------------*/

.duende {
  transition: transform 0.5s ease-out;
}

/*-------------------Btn comprar-----------*/
.btn-comprar:active, .btn-comprar:hover{
  background: linear-gradient(180deg, var(--azul), orange);
  color: white;
}

