* {
  margin: 0;
  padding: 0;
}
:root {
  --azul: #5499f8;
  --azulSombra1: #2982ff;
  --azulSombra2: #02187e;
  --azulSombra3: #5499f800;
  --amarillo: #ffe901;
}

body {
  width: 1280px;
  background-color: black;
}

.container {
  width: 1080px;
  margin-left: 100px;
  margin-right: 100px;
}
header {
  background-color: var(--azulSombra1);
}
.azul {
  width: 1280px;
  height: 227px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: linear-gradient(
    180deg,
    #5499f8 0%,
    #5499f8 88%,
    rgba(84, 153, 248, 0) 100%
  );
  z-index: -20;
}
nav {
  height: 103px;
  background-color: var(--azulSombra1);
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 20px;
}
.logoHamburguesa {
  width: 34px;
  height: 26px;
  margin-top: 20px;
}
.menuSpidey {
  width: 113px;
  height: 68px;
}
.btn-comprar {
  width: 200px;
  height: 50px;
  border: 8px solid var(--azulSombra1);
  background-color: var(--amarillo);
  border-radius: 111px;
  color: var(--azulSombra2);
  font-family: Arial; /*Cambiar a Lato*/
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 4px 5px 0px var(--azulSombra2);
}

/*----------------------Portada--------------------*/

.portada {
  width: 1280px;
  height: 720px;
  background-image: url(img/cielo.svg);
  z-index: 1;
}
.spidey {
  width: 590px;
  height: 301px;
  left: 330px;
  top: 91px;
  position: absolute;
  z-index: ;
}
.edificioIzq {
  width: 452px;
  height: 720px;
  left: -47px;
  top: 144px;
  position: absolute;
}
.edificio {
  width: 543.5px;
  height: 213.5px;
  left: 392px;
  top: 634px;
  position: absolute;
}

.edificioDer {
  width: 374px;
  height: 727.5px;
  left: 906px;
  top: 126px;
  position: absolute;
}
.chica {
  width: 360px;
  height: 444px;
  left: 90px;
  top: 388px;
  position: absolute;
}

.spideyNegro {
  width: 393px;
  height: 393px;
  left: 695px;
  top: 335px;
  position: absolute;
}
.spideyCentral {
  width: 465px;
  height: 465px;
  left: 404px;
  top: 403px;
  position: absolute;
}

.cielo {
  width: 1280px;
  height: 720px;
  left: 0px;
  top: 7570px;
  position: absolute;
}

.cuerdaDerecha {
  width: 400px;
  height: 372.44px;
  left: 1000px;
  top: 400px;
  position: absolute;
  transform: rotate(0%);
  transform-origin: 0 0;
}

.cuerdaIzquierda {
  width: 700px;
  height: 627.27px;
  left: 0px;
  top: 350px;
  position: absolute;
  transform: rotate(10deg);
  transform-origin: 0 0;
  z-index: 4;
}

/*-------------------Violeta-------------*/
.violeta {
  width: 1280px;
  height: 844.5px;
  background-image: url(img/violeta.svg);
  top: 795px;
  position: absolute;
  z-index: 1;
}

.violetaTitulo {
  width: 646px;
  left: 95px;
  top: 219.5px; /*hice la cuenta*/
  position: absolute;
  color: white;
  font-size: 60px;
  font-family: Lato;
  font-weight: 600;
  line-height: 56.7px;
  word-wrap: break-word;
}

.violetaTexto {
  width: 586px;
  height: 154px;
  left: 95px;
  top: 357.5px; /*hice la cuenta*/
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: Lato;
  font-weight: 400;
  word-wrap: break-word;
}
.violetaEscena {
  width: 751.65px;
  height: 413.13px;
  left: 90.28px;
  top: 523px;
  position: absolute;
  transform: rotate(-2.22deg);
  transform-origin: 0 0;
  box-shadow: 3px 6px 8px 4px rgba(0, 0, 0, 0.15);
  border-radius: 26px;
  border: 9px white solid;
}
.duende {
  width: 553px;
  height: 921px;
  left: 712px;
  top: 132.5px;
  position: absolute;
  z-index: 10;
}

/*------------------Blanca-------------------------*/
.blanco {
  width: 1280px;
  height: 1085px;
  background-color: white;
  top: 1500px;
  position: absolute;
}
.containerCardsChicas {
  display: flex;
  padding-top: 368px;
}

.cardChica {
  width: 332px;
  height: 302px;
}
.containerCardsChicas {
  display: flex;
  justify-content: space-around;
}

.card1,
.card2,
.card3 {
  width: 30%;
}

.textoCardChica {
  margin-top: 23.3px;
  color: black;
  font-size: 20px;
  font-family: Lato;
  font-weight: 400;
  word-wrap: break-word;
}

/*----------------Ghost---------------*/
.ghost {
  background-image: url(img/ghost.svg);
}
.ghost {
  width: 1280px;
  height: 566px;
  left: 0px;
  top: 2500px;
  position: absolute;
}
.test1 {
  width: 800px;
  height: 326.51px;
  left: -50px;
  top: -100px;
  position: absolute;
  transform: rotate(5deg);
}
.test2 {
  width: 543.22px;
  height: 325.79px;
  left: 35px;
  position: absolute;
}

.test3 {
  width: 546.11px;
  height: 326.51px;
  left: 66.18px;
  position: absolute;
}

/*---------------Negro----------------*/
.tituloCard3D {
  width: 667px;
  left: 104px;
  top: 3226px;
  position: absolute;
  color: white;
  font-size: 60px;
  font-family: Lato;
  font-weight: 600;
  line-height: 56.7px;
  word-wrap: break-word;
}
.transformer {
  width: 368.31px;
  height: 552.46px;
  left: 682.05px;
  top: 3197px;
  position: absolute;
}

.pastoCard3D,
.card3D {
  width: 1077.06px;
  height: 527.63px;
  left: 101.76px;
  top: 3452.11px;
  position: absolute;
}
.cieloCard3D {
  width: 1077.06px;
  height: 527.63px;
  left: 101.76px;
  top: 3452.11px;
  position: absolute;
  z-index: -4;
}
.hulk {
  width: 410.11px;
  height: 437.97px;
  left: 829.28px;
  top: 3558px;
  position: absolute;
  transform: rotate(7.52deg);
  transform-origin: 0 0;
}

.elastica {
  width: 451.26px;
  height: 591.44px;
  left: 128.16px;
  top: 3454.54px;
  position: absolute;
  transform: rotate(-12.48deg);
  transform-origin: 0 0;
}

.blanco2 {
  width: 1280px;
  height: 2194.5px;
  left: 0px;
  top: 3855px;
  position: absolute;
  background-color: url(img/blanco2.svg);
  z-index: -2;
}
